.theme-light {
  --bg-main: #fff;
  --bg-main-rgb: 255, 255, 255;
  --bg-second: #fff;
  --border: #fff;
  --shadow: #030712;
  --shadow-rgb: 3, 7, 18;
  --text-color-main: #4a4a4a;
  --text-color-sub: #a0aec0;
  --hover: #f3f3f5;
  --hover-active: #f8f8f8;
  --oil: #f7ba1c;
}

.theme-dark {
  --bg-main: #121212;
  --bg-main-rgb: 18, 18, 18;
  --bg-second: #1e1e1e;
  --border: #1e1e1e;
  --shadow: #000;
  --shadow-rgb: 0, 0, 0;
  --text-color-main: #dddddd;
  --text-color-sub: #9b9b9b;
  --hover: #333333;
  --hover-active: #2e2e2e;
  --oil: #fee552;
}

// ===== common theme styles =====
.theme-light,
.theme-dark {
  // card
  .n-card {
    color: var(--text-color-main);
    background-color: var(--bg-second);
    border: 0;
  }

  // dropdown
  .n-dropdown-menu {
    background-color: var(--bg-second);
  }

  .n-dropdown-menu .n-dropdown-option .n-dropdown-option-body {
    color: var(--text-color-main) !important;
  }

  .n-dropdown-menu
    .n-dropdown-option
    .n-dropdown-option-body:not(
      .n-dropdown-option-body--disabled
    ).n-dropdown-option-body--pending::before {
    background-color: var(--hover);
  }

  .n-dropdown-menu
    .n-dropdown-option
    .n-dropdown-option-body:not(
      .n-dropdown-option-body--disabled
    ).n-dropdown-option-body--active::before {
    background-color: var(--hover-active);
  }
}

// ===== light theme styles =====
.theme-light {
  .shadow {
    box-shadow:
      0px 1px 1px rgba(var(--shadow-rgb), 0.01),
      0px 3px 4px rgba(var(--shadow-rgb), 0.02),
      0px 7px 9px rgba(var(--shadow-rgb), 0.03),
      0px 13px 15px rgba(var(--shadow-rgb), 0.04),
      0px 20px 24px rgba(var(--shadow-rgb), 0.05);
  }
}

// ===== dark theme styles =====
.theme-dark {
  .shadow {
    box-shadow:
      0px 1px 1px rgba(var(--shadow-rgb), 0.1),
      0px 3px 4px rgba(var(--shadow-rgb), 0.15),
      0px 7px 9px rgba(var(--shadow-rgb), 0.2),
      0px 13px 15px rgba(var(--shadow-rgb), 0.25),
      0px 20px 24px rgba(var(--shadow-rgb), 0.3);
  }

  .n-dropdown-menu {
    box-shadow:
      0px 1px 1px rgba(var(--shadow-rgb), 0.1),
      0px 3px 4px rgba(var(--shadow-rgb), 0.15),
      0px 7px 9px rgba(var(--shadow-rgb), 0.2),
      0px 13px 15px rgba(var(--shadow-rgb), 0.25),
      0px 20px 24px rgba(var(--shadow-rgb), 0.3);
  }
}

body {
  color: var(--text-color-main) !important;
  font-size: 16px;
  background-color: var(--bg-main);
  transition:
    background-color 0.5s ease,
    color 0.5s ease,
    box-shadow 0.5s ease;
}
